<div class="create-task-container">
  <h2>{{ isEditMode ? 'Edit Task' : 'Create New Task' }}</h2>
  <form [formGroup]="taskForm" (submit)="onSubmit()">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" required>
      <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
          Title is required.
      </div>

      <label for="description">Description</label>
      <textarea id="description" formControlName="description" required></textarea>
      <div *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched" class="error-message">
          Description is required.
      </div>

      <label for="assignee">Assignee</label>
      <select id="assignee" formControlName="assigneeId" required>
          <option *ngFor="let assignee of assignees" [value]="assignee.id">{{ assignee.fullName }}</option>
      </select>
      <div *ngIf="taskForm.get('assigneeId')?.invalid && taskForm.get('assigneeId')?.touched" class="error-message">
          Assignee is required.
      </div>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="button-container">
        <button type="submit" [disabled]="!isFormDirty() || !taskForm.valid">
          {{ isEditMode ? 'Update Task' : 'Create Task' }}
        </button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
  </form>
</div>
